section.about.section
	._container.container
		h2.title._title
			| О комплексе
		._wrapper
			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("key")
					.about-item__desc
						p.about-item__subtitle
							| Срок сдачи
						p.text--semibold.about-item__value
							| 2015

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("office")
					.about-item__desc
						p.about-item__subtitle
							| Этажность
						p.text--semibold.about-item__value
							| 10

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("brickwall2")
					.about-item__desc
						p.about-item__subtitle
							| Тип дома
						p.text--semibold.about-item__value
							| кирпичный

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("star")
					.about-item__desc
						p.about-item__subtitle
							| Класс дома
						p.text--semibold.about-item__value
							| эконом

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("building1")
					.about-item__desc
						p.about-item__subtitle
							| Корпусов
						p.text--semibold.about-item__value
							| 2 корпуса

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("parking")
					.about-item__desc
						p.about-item__subtitle
							| Парковка
						p.text--semibold.about-item__value
							| Гостевая

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("slider")
					.about-item__desc
						p.about-item__subtitle
							| Территория
						p.text--semibold.about-item__value
							| Дет.площадки

			+card('backdrop').about-item
				.about-item__inner
					+card().about-item__icon
						+svg("puttyKnife")
					.about-item__desc
						p.about-item__subtitle
							| Отделка
						p.text--semibold.about-item__value
							| Чистовая

