section.description.section
	._container.container
		h2.title._title
			| Описание Жилого Комплекса
		.text--medium._desc
			| Нажимайте <> чтобы подробно ознакомится с проектом
		.tabs._tabs
			.swiper-wrapper
				.tabs__slide.swiper-slide
					+card('backdrop').tabs__card
						+card()(class="tabs__inner")
							p.text--semibold.tabs__title
								| Парковка
				.tabs__slide.swiper-slide
					+card('backdrop').tabs__card
						+card()(class="tabs__inner")
							p.text--semibold.tabs__title
								| Архитектура
				.tabs__slide.swiper-slide
					+card('backdrop').tabs__card
						+card()(class="tabs__inner")
							p.text--semibold.tabs__title
								| Охрана
				.tabs__slide.swiper-slide
					+card('backdrop').tabs__card
						+card()(class="tabs__inner")
							p.text--semibold.tabs__title
								| Территория

		._slider
			._wrapper.swiper-wrapper
				.desc-slide.swiper-slide
					._inner
						._main-wrapper
							img._img(src="./img/house3.png")
							._card
								._title.text--bold
									| Парковка
								.text--s16._text-wrapper
									p
										| Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
									p
										| Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
						._prev-wrapper
							._prev-item
								img._img(src="./img/house.png")
							._prev-item
								img._img(src="./img/house2.png")
							._prev-item
								img._img(src="./img/house3.png")
				.desc-slide.swiper-slide
					._inner
						._main-wrapper
							img._img(src="./img/house3.png")
							._card
								._title.text--bold
									| Архитектура
								.text--s16._text-wrapper
									p
										| Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
									p
										|Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
						._prev-wrapper
							._prev-item
								img._img(src="./img/house.png")
							._prev-item
								img._img(src="./img/house2.png")
							._prev-item
								img._img(src="./img/house3.png")

				.desc-slide.swiper-slide
					._inner
						._main-wrapper
							img._img(src="./img/house3.png")
							._card
								._title.text--bold
									| Охрана
								.text--s16._text-wrapper
									p
										| Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
									p
										| Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
						._prev-wrapper
							._prev-item
								img._img(src="./img/house.png")
							._prev-item
								img._img(src="./img/house2.png")
							._prev-item
								img._img(src="./img/house3.png")
				.desc-slide.swiper-slide
					._inner
						._main-wrapper
							img._img(src="./img/house3.png")
							._card
								._title.text--bold
									| Территория
								.text--s16._text-wrapper
									p
										| Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С. в пгт. Яблоновский. За пять минут пешком можно дойти до муниципальной поликлиники, школы и детского садика.
									p
										| Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
						._prev-wrapper
							._prev-item
								img._img(src="./img/house.png")
							._prev-item
								img._img(src="./img/house2.png")
							._prev-item
								img._img(src="./img/house3.png")
