-
	const data = {
		menu: [
			{
				url: '#complexes',
				name: 'Жилые комплексы'
			},
			{
				url: '#about',
				name: 'О компании'
			},
			{
				url: '#buy',
				name: 'Как купить'
			},
			{
				url: '#contacts',
				name: 'Контакты'
			}
		],
		submenu: [
			{
				url: '#advantages',
				name: 'Преимущества'
			},
			{
				url: '#infrastructure',
				name: 'Инфраструктура'
			},
			{
				url: '#layout',
				name: 'Планировка'
			},
			{
				url: '#decoration',
				name: 'Отделка'
			},
			{
				url: '#description',
				name: 'Описание'
			},
			{
				url: '#contacts',
				name: 'Контакты'
			},
			{
				url: '#documentation',
				name: 'Документация'
			}
		]
	}
