@import "../../node_modules/reset-css/sass/reset";
@import "assets/mixins";
@import "assets/fonts";
@import "assets/vars";
@import "assets/breakpoint";
@import "../../node_modules/swiper/swiper.scss";

html {
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-primary;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	min-width: 320px;
	font-family: $font-family-Gilroy;
	font-weight: 400;
	font-size: $fontsize;
	line-height: $lineHeight;
	color: $color-cloud-burst;
	background: $color-white;

	@include tablet {
		font-size: 2rem;
	}
}

main {
	flex: 1 1 auto;
	width: 100%;
}

a {
	outline: none;
	text-decoration: none;
	color: currentColor;
	cursor: pointer;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

.section {
	width: 100%;
}

.title {
	width: 100%;
	font-weight: 700;
	font-size: 4.5rem;
	line-height: 1.5;
	text-align: center;

	@include tablet {
		font-size: 4rem;
	}

	@include mobile-hr {
		font-size: 2.8rem;
	}
}

body.is-fixed {
	z-index: 90;
	overflow: hidden;
	transition: opacity 0.4s, right 0.4s;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 89;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(34, 26, 25, 1);
		opacity: 0.5;
		transition: opacity 0.3s, right 0.2s;
	}

	@media (max-width: 767.98px) {
		display: none;
	}
}

.container {
	margin: 0 auto;
	width: 100%;
	min-width: 320px;

	@include desktop-xl {
		width: 1140px;
	}

	@include desktop {
		width: 1140px;
	}

	@include laptop {
		width: 960px;
	}

	@include tablet {
		width: 720px;
	}

	@include mobile-hr {
		width: 540px;
	}

	@include mobile {
		padding: 0 1.5rem;
		width: 100%;
	}
}

.btn-reset {
	display: inline-block;
	outline: none;
	border: none;
	padding: 0;
	font-family: $font-family-Gilroy;
	font-size: $fontsize;
	color: $color-cloud-burst;
	background: transparent;
	cursor: pointer;

	@include mobile-hr {
		font-size: 2rem;
	}
}

.text {
	&--normal {
		font-weight: 400;
	}

	&--medium {
		font-weight: 500;
	}

	&--bold {
		font-weight: 700;
	}

	&--semibold {
		font-weight: 600;
	}

	&--s18 {
		font-size: 1.8rem;
	}

	&--s16 {
		font-size: 1.6rem;
	}
}

.button {
	&--accent {
		border-radius: 10px;
		padding: 1.5rem 2.5rem;
		box-shadow: 0 6px 0 #2CABDC;
		color: $color-white;
		background: $color-accent;
		transition: all 0.3s;

		&:not([disabled]):hover,
		&:not([disabled]):active {
			border-radius: 20px;
			box-shadow: 0 4px 20px #0B91C5;
		}
	}
}

@import "components/cards";
@import "components/header";
